<div class="container d-flex justify-content-center mt-50 mb-50">
    
    <div class="row">
        <h1 *ngIf="checkEmpty()" class="">Empty Library</h1>
        <div class="col-md-4 mt-4 "  *ngFor="let result of results" >
            <div class="card">
                <div class="card-body">
                    <div class=""> <img src="{{result.formats['image/jpeg']}}" class="card-img " width="60" height="250" alt="book photo"> </div>
                </div>
                <div class="card-body bg-light text-center">
                    <div class="mb-2">
                        <h6 class="font-weight-semibold mb-2"> <a  class="text-default mb-2" data-abc="true">{{result.title}}</a> </h6>
                    </div>

                    <a href="/book/{{result.id}}" class="btn bg-cart mt-2"><i class="fa fa-cart-plus mr-2">read</i> </a> 
                    <a (click)="delete(result.id)" class="btn bg-danger ms-2 mt-2 "><i class="fa fa-cart-plus mr-2">remove</i> </a> 
                </div>
            </div>
        </div>
    </div>
</div>


